<div class="side-bar">
  <div class="side-bar-header">
    <!-- アプリ名 -->
    <p class="app-name">シェア助</p>

    <!-- ユーザー名とログアウトボタン -->
    <div class="user-info">
      <% if user_signed_in? %>
        <div class="user-name">
          <%= link_to current_user.name, edit_user_path(current_user), class: "user-link" %>
        </div>
        <div class="logout-btn">
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-danger' %>
        </div>
      <% else %>
        <div class="login-btn">
          <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="side-bar-footer">
    <div class="create-operation">
      <%= link_to '運行便を作成する', new_operation_path, class: "btn btn-primary" %>
    </div>
    <div class="link-to-operations">
      <%= link_to "運行情報一覧", operations_path, class: "btn btn-success btn-sm" %>
    </div>
  </div>
</div>