<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <% (start_date..end_date).each do |date| %>
        <th><%= date.strftime('%m/%d (%a)') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% (start_date..end_date).each do |date| %>
          <td>
            <% operation = @operations.find { |op| op.user_id == user.id && op.date == date } %>
            <% if operation %>
              <p><%= link_to operation.operation_info, operation_path(operation), class: "text-info" %></p>
              <p><%= operation.day_or_night.name %></p>
              <p><%= operation.work_content.name %></p>
            <% else %>
              <p>休み</p>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>