<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>

  <div class="calendar-navigation">
  <%= link_to "前の週", calendars_path(start_date: @start_date - 7.days), class: "btn btn-primary" %>
  <%= link_to "今日", calendars_path(start_date: Date.today.beginning_of_week), class: "btn btn-secondary" %>
  <%= link_to "次の週", calendars_path(start_date: @start_date + 7.days), class: "btn btn-primary" %>
  </div>

  <div class="calendar">
    <%= render "main_calendar", start_date: @start_date, end_date: @end_date %>
  </div>
</div>