<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>

  <div class="calendar-navigation">
    <div class="navigation-links">
    <%= link_to "先週", calendars_path(start_date: @start_date - 7.days), class: "btn btn-primary" %>
    <%= link_to "今週", calendars_path(start_date: Date.today.beginning_of_week), class: "btn btn-secondary" %>
    <%= link_to "来週", calendars_path(start_date: @start_date + 7.days), class: "btn btn-primary" %>
    </div>
  </div>

  <div class="calendar">
    <%= render "main_calendar", start_date: @start_date, end_date: @end_date %>
  </div>
</div>