<h1>運行情報を編集</h1>

<%= form_with model: @operation, local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <div>
    <%= f.label :user_id, 'ユーザー' %>
    <%= f.collection_select :user_id, User.all, :id, :name, prompt: '選択してください' %>
  </div>

  <div>
    <%= f.label :start_date, '開始日' %>
    <%= f.date_field :start_date, class: 'form-control' %>
  </div>

  <div>
    <%= f.label :end_date, '終了日' %>
    <%= f.date_field :end_date, class: 'form-control' %>
  </div>

  <div>
    <%= f.label :operation_info, '運行情報' %>
    <%= f.text_field :operation_info %>
  </div>

  <div>
    <%= f.label :day_or_night_id, '昼/夜' %>
    <%= f.collection_select :day_or_night_id, DayOrNight.all, :id, :name, prompt: '選択してください' %>
  </div>

  <div>
    <%= f.label :work_content_id, '業務内容' %>
    <%= f.collection_select :work_content_id, WorkContent.all, :id, :name, prompt: '選択してください' %>
  </div>

  <div>
    <%= f.label :memo, 'メモ' %>
    <%= f.text_area :memo, class: 'form-control', rows: 3, placeholder: '自由にメモを記入してください' %>
  </div>

  <%= f.submit '更新', class: "btn btn-update" %>
<% end %>

<%= link_to "キャンセル", operation_path(@operation), class: "btn btn-secondary" %>

<div class="footer-text">
  <p>Copyright(C) Share-suke ALL RIGHTS RESERVED.</p>
</div>