<h1>運行情報一覧</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>日付</th>
      <th>運行情報</th>
      <th>昼/夜</th>
      <th>業務内容</th>
    </tr>
  </thead>
  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.user.name %></td>
        <td>
          <%= operation.start_date %> ～ <%= operation.end_date %>
        </td>
        <td>
          <%= link_to operation.operation_info, operation_path(operation), class: 'text-primary' %>
        </td>
        <td><%= operation.day_or_night.name %></td>
        <td><%= operation.work_content.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'カレンダーに戻る', calendars_path(start_date: @operation.start_date.beginning_of_week), class: 'btn btn-secondary' %>

<div class="footer-text">
  <p>Copyright(C) Share-suke ALL RIGHTS RESERVED.</p>
</div>
