<h1>運行情報を投稿</h1>

<%= form_with model: @operation, local: true do |f| %>
  <div>
    <%= f.label :user_id, 'ユーザー' %>
    <%= f.collection_select :user_id, User.all, :id, :name, prompt: '選択してください' %>
  </div>

  <div>
    <%= f.label :date, '日付' %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :operation_info, '運行情報' %>
    <%= f.text_field :operation_info %>
  </div>

  <div>
    <%= f.label :day_or_night_id, '昼/夜' %>
    <%= f.collection_select :day_or_night_id, DayOrNight.all, :id, :name, prompt: '選択してください' %>
  </div>

  <div>
    <%= f.label :work_content_id, '業務内容' %>
    <%= f.collection_select :work_content_id, WorkContent.all, :id, :name, prompt: '選択してください' %>
  </div>

  <%= f.submit '投稿' %>
<% end %>

<%= link_to '戻る', calendars_path %>